<div
	style="${View.styleMap(state.gridTemplateColumns)}"
	class="container">
	${Array.isArray(this.rb.elms.columns) && this.rb.elms.columns.length
		? html`
			${this.rb.elms.columns.map((column, i) => html`
				<caption class="${i==0 ? 'first' : ''}
								${i==this.rb.elms.columns.length-1 ? 'last' : ''}
								${column.getAttribute('sort') != undefined ? 'sortable' : ''}
								${props.captionAlign}
								"
						@click="${this._onclick.bind(this, column.getAttribute('key'), column)}" >
					${column.getAttribute('caption')}
					${column.getAttribute('sort') != undefined ? html`
						<rb-icon
							kind = "${this.state.orderDirection == 'asc'
									&& [column.getAttribute('key')].includes(this.state.orderKey)
									? 'caret-down' :
										(
											this.state.orderDirection == 'desc'
											&& [column.getAttribute('key')].includes(this.state.orderKey) ?
											'caret-up' : 'caret-down'
										)
									}"
							source="solid"
							size="1.2"
							valign="top">
						</rb-icon>
					`: null }

				</caption>
			`)}
			${Array.isArray(props.data) && props.data.map((item, i) => html`
				${this.rb.elms.columns.map((column, j) => html`
					<div class="row
								${j==0 ? 'first' : ''}
								${j==this.rb.elms.columns.length-1 ? 'last' : ''}
								${props.columnAlign}">
						${item[column.getAttribute('key')]}
					</div>
				`)}
			`)}
		`: ''

	}
</div>
<slot></slot>

<link rel="stylesheet" href="../styles/rb-table.css">